.App {
  text-align: center;
}

.navbar {
  background-color: #F55A5A;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px;
}

.nav--image {
  width: 24px;
height: 24px;
margin-right: 5px;
}

.nav--title {
  width: 109px;
  height: 16px;
  /* left: 244px;
  top: 20px; */

  /* font-family: 'Inter'; */
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  letter-spacing: -0.075em;

  color: #FFFFFF;
}

.journal {
  margin-top: 50px;
}

.card {
  display: flex;
  width: 40%;
  margin: auto;
  align-items: center;
}

.spacer {
  color: #F5F5F5;
  width: 40%;
  opacity: .15;
  margin-top: 20px;
  margin-bottom: 20px;
}

.column--right {
  text-align: left;
  margin-left: 1em;
  height: 11em;
}

.card--image {
  width: 8em;
  height: 11em;
  border-radius: 6px;
  object-fit: cover;
}

.card--location {
font-style: normal;
font-weight: 400;
font-size: 10.24px;
line-height: 12px;
letter-spacing: 0.17em;
text-transform: uppercase;
margin-left: 5px;
}

.card--map {
  font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 12px;
color: #918E9B;
margin-left: 10px;
}

.card--dates {
  font-style: normal;
font-weight: 700;
font-size: 12px;
line-height: 12px;
}

.card--desc {
  font-weight: 400;
font-size: 10.24px;
line-height: 150%;
color: #2B283A;
}